version: "3.8"

services:
  postgres:
    image: "postgres:14-alpine"

    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: always

  app:
    build: ./
    ports:
      - "3000:3000"
    env_file:
      - ./dotenv/docker.env
    depends_on:
      - postgres

volumes:
  postgres_data:

